._t_navbar {
    padding: 5px 10px;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(134, 134, 134);
    flex-wrap: wrap;
    width: 100%;
    max-width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ._t_button_navbar {
        background: transparent;
        border: 1px solid grey;
        margin: 0px 3px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}